* {
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&family=Cormorant+Infant:wght@700&family=Gothic+A1:wght@700&family=Kdam+Thmor+Pro&family=Noto+Sans+Glagolitic&family=Ubuntu:wght@700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

.section6 {
    max-width: 100vw;
    padding: 20px;
}
.review-heading1{
    text-align: center;
    color: #000;
    font-family:"Noto Sans Glagolitic", sans-serif ;
    margin-top: 15px;
}
.review-container{
    max-width: 95vw;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.reviewBox{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.leftboxbackground{
    color: #fff;
    text-align: center;
    width: 75%;
    padding: 20px;
    background-color: #4A5759;
    border-radius: 15px;
}
.rightboxbackground{
    color: #fff;
    background-color: #EDAFB8;
    border-radius: 15px;
    text-align: center;
    width: 75%;
    padding: 20px;
}
.image{
    width: 50%;
    background-size: cover;
}
.top-container{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.bottom-container{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.stars-container1, .stars-container2 {
    display: inline-block;
    margin-top: 30px;
}
.fa-star {
    font-size: 24px;
    color: gray;
    cursor: pointer;
}
.fa-star:hover, .fa-star.active {
    color: yellow;
}
  
#output1, #output2{
    margin-top: 25px;
    font-family: "Roboto";
    color: #fff;
    font-weight: bold;
}

@media screen and (max-width: 786px) {
    .review-heading{
        font-size: 26px;
        color: #fff;
        font-family:"Noto Sans Glagolitic", sans-serif ;
    }
    .review-heading1{
        font-size: 26px;
    }
    .rating-text1{
        color: #fff;
        font-family: "Arial";
        font-size: 16px;
    }
    .reviewBox{
        width: 100%;
    }
    .image{
        width: 100%;
    }
    .top-container{
        display: flex;
        flex-direction: column;
    }
    .bottom-container{
        display: flex;
        flex-direction: column;
    }
    .leftboxbackground{
        order: -1;
    }
    .rightboxbackground{
        order: 1;
    }
    .image{
        order: 0;
    }
}

@media screen and (min-width: 787px) {
    .review-heading1{
        font-size: 40px;
    }
    .review-heading{
        font-family:"Noto Sans Glagolitic", sans-serif ;
        font-size: 40px;
        color: #fff;
    }
    .rating-text1{
        font-size: 26px;
        font-family: "Arial";
        color: #fff;
    }
}